//Tipografia
$fuente_principal: 'Roboto Condensed', sans-serif;


//Colores
$azulBajo:#93C6E7;
$negro:#000000;
$blanco:#FFFFFF;
$gris: #E5E0FF;
$morado: #6C00FF;
$azul: #3C79F5;

//Tamaños de los mediaquerys
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopLX: 1200px;