@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.whatsapp-card {
    background: v.$azulTransparente;
    color: v.$blanco;
    padding: 3rem;
    border-radius: 0.5rem;
}

.whatsapp-card .btn {
    margin-top: 1rem;
}