@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegador{
    background-color: v.$azulTransparente;
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    top: 0;

}

.navegador li{
    list-style-type: none;
    padding: 2rem 3rem;
    font-size: 3rem;

    @include m.phone{
        font-size: 1rem;
        padding: 3rem 2rem 0 0;

    }
}

.navegador li a {
    color: v.$blanco;
}
