@use "base/variables" as v;
@use "base/mixins" as m;

.navegador {
  display: flex;
  justify-content: end;
}

.navegador li {
  list-style-type: none;
  padding: 2rem 3rem;
  font-size: 2rem;
}

.navegador li a {
  color: v.$blanco;
}

@include m.phone {
  .navegador {
    opacity: 0;
    visibility: hidden;
    background: v.$azul;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .navegador.visible {
    opacity: 1;
    visibility: visible;
  }
  .cerrar-menu {
    display: block;
  }
}
