
@use 'base/variables' as v;
@use 'base/mixins' as m;

.perfil{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include m.phone{
        display: grid;
    }
}

.foto{
    display: grid;
    place-items: center;

}


.foto img{
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    margin: -10rem 2rem;
}

.skill{
    display: flex;
    justify-content: center;

    @include m.phone{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        place-items: center;
    }
}

.btn-like{
    width: 15rem;
    height: 5rem;
    margin-top: 10rem;
    background: v.$blanco;
    border: 1px solid v.$gris;
    border-radius: .5rem;
}