@use 'base/variables' as v;
@use 'base/mixins' as m;

.portada{
    content: url(../img/portada.jpg);
    width: 100vw;
    height: 50vh;
    margin-top: 65px;
}

.portada:target{
    scroll-margin-top: 9.5rem;
}