.html{
    content: url(../img/html.webp);
    width: 5rem;
    height: 5rem;
}

.css{
    content: url(../img/css.webp);
    width: 5rem;
    height: 5rem;
}

.js{
    content: url(../img/js.webp);
    width: 5rem;
    height: 5rem;
}

.sass{
    content: url(../img/sass.webp);
    width: 5rem;
    height: 5rem;
}

.bootstrap{
    content: url(../img/bootstrap.webp);
    width: 5rem;
    height: 5rem;
}

.sql{
    content: url(../img/sql.webp);
    width: 5rem;
    height: 5rem;
}

.ts{
    content: url(../img/ts.webp);
    width: 5rem;
    height: 5rem;
}

.tailwind{
    content: url(../img/tailwind.webp);
    width: 5rem;
    height: 5rem;
}

.aws{
    content: url(../img/aws.webp);
    width: 5rem;
    height: 5rem;
}

.php{
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4Ij48cmVjdCB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCIgZmlsbD0iIzc3N0JCNCIvPjx0ZXh0IHg9IjY0IiB5PSI4MCIgZm9udC1zaXplPSI2MCIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1mYW1pbHk9IkFyaWFsIiBmaWxsPSIjZmZmIj5QSFA8L3RleHQ+PC9zdmc+");
    width: 5rem;
    height: 5rem;
}

.laravel{
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4Ij48cmVjdCB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCIgZmlsbD0iI0ZGMkQyMCIvPjx0ZXh0IHg9IjY0IiB5PSI4MCIgZm9udC1zaXplPSI2MCIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1mYW1pbHk9IkFyaWFsIiBmaWxsPSIjZmZmIj5MPC90ZXh0Pjwvc3ZnPg==");
    width: 5rem;
    height: 5rem;
}

